* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {background-color: #ffeeee;
      white-space: nowrap;}

h1 {font-size: 7rem;
    position: relative;
    text-align: center;
    margin: 20px auto;
    text-shadow: 10px 10px 2px #000;
    color: #a0ddff;
}
h2 {font-size: 6rem;
    font-style: italic;
    position: relative;
    top: 55%;
}
#line {border: 5px solid white;
       color: #ffeeee;
       margin-top: 30px;
}
.icons {width: auto;
        height: 100px;
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 30px auto;
}
.icon {width: 100px;
       height: 100px;
       border-radius: 50%;
       border: 5px solid white;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
}
#xicon {background-color: #000;}
#xicon a {
    font-size: 4.5em;
    text-decoration: none;
    color: white;
}
#gdicon {background-color: #90c028;}
#gdicon a {
    font-size: 4em;
    text-decoration: none;
    color: white;
}
#zdicon {
    background-image: url(Screenshot_20250309-155600~2.png);
    background-size: contain;
    background-position: center;
}
#zdicon a {
    font-size: 4em;
    color: transparent;
    text-decoration: none;
}
.box {
    width: 900px;
    height: 400px;
    border: 10px solid white;
    border-radius: 20px;
    background: url(1740490522252.jpg) no-repeat center top,  linear-gradient(to bottom, transparent 50%, #a0ddff 50%);
    background-size: 100% 50%, 100% 100%;
    background-position: top;
    position: relative;
    padding: 20px;
    opacity: 0;
    margin: 0 auto;
}
.box p {font-size: 2.5rem;
        position: absolute;
        bottom: 5%;
}
#box1 {animation: fadeInUp 0.5s ease-out forwards;}
#box2 {animation: fadeInUp 1s ease-out forwards;}
#box3 {animation: fadeInUp 1.5s ease-out forwards;}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(400px); }
    100% {
        opacity: 1;
        transform: translateY(0px); }
}
.content {
    width: 700px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
    position: relative;
    margin: auto auto;
    margin-bottom: 200px;
}
.content.active {max-height: 600px;}
.hidden-box {
    width: 800px;
    height: 300px;
    position: relative;
}
.hidden-box p{
    font-size:6rem;
    font-style: italic;
    position: absolute;
    bottom: 60px;
    left: 120px;
}
.hidden-box a{
    font-size:6rem;
    font-style: italic;
    position: absolute;
    bottom: 60px;
    left: 120px;
    color: black;
    text-decoration: none;
}
.under-line {
     width: 600px;
     height: 50px;
     background-color: #ffd060;
     border: 10px solid white;
     position: absolute;
     bottom: 0px;
     left: 60px;
     transform: skewX(-30deg)
}
.vertical-line {
    width: 60px;
    height: 600px;
    position: absolute;
    background: linear-gradient(to right, white 50%, #a0ddff 50%);
}
.subtitle{
    width: 900px;
    font-size: 5rem;
    background-color: #ffd060;
    color: #374a55;
    border: 5px solid white;
    transform: skewX(-20deg);
    margin: auto auto;
    margin-top: 30px;
}
.text-box{
    width: 800px;
    white-space: normal;
    color: #333333;
    font-size: 3rem;
    margin: auto auto;
}
table {
    width: auto;
    border-spacing: 0;
    font-size: 2.5rem;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px auto;
    overflow: hidden;
}
th, td {
    padding: 20px;
    text-align: center;
    background-clip: padding-box;
}
th {
    border: 2px solid #000;
    background-color: #a0ddff;
    font-weight: bold;
}
td {
    border: 1px solid #000;
    background-color: #cfeeff;
}
tr:first-child th {border-top: none;}
tr:last-child td {border-bottom: none;}
th:first-child, td:first-child {border-left: none;}
th:last-child, td:last-child {border-right: none;}
